<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>101498503727-fq1pf114gdc5bj6srqc01fa0lcbbojf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101498503727-fq1pf114gdc5bj6srqc01fa0lcbbojf7</string>
	<key>API_KEY</key>
	<string>AIzaSyCQJJhpo2srCAzLtJ_aR2Vk8m6Is5imWHo</string>
	<key>GCM_SENDER_ID</key>
	<string>101498503727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prash.FocusMonk1</string>
	<key>PROJECT_ID</key>
	<string>focus-monk-test-enviroment</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-monk-test-enviroment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101498503727:ios:c4fe57b704ceec9b</string>
	<key>DATABASE_URL</key>
	<string>https://focus-monk-test-enviroment.firebaseio.com</string>
</dict>
</plist>