DerivedData
DerivedData/
DerivedData/ModuleCache/
*.xcactivitylog
*.pcm
*.xcuserstate
*.idx
*.log
Pods
Pods/
TimerDemo\.xcodeproj/xcuserdata/i328244\.xcuserdatad/xcdebugger/
TimerDemo\.xcworkspace/xcuserdata/i328244\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist
*.xcbkptlist
TimerDemo\.xcworkspace/xcuserdata/i328244\.xcuserdatad/xcdebugger/
TimerDemo\.xcworkspace/xcuserdata/i328244\.xcuserdatad/

TimerDemo\.xcworkspace/
