<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskDurationMinutes</key>
	<integer>25</integer>
	<key>shortBreakDurationMinutes</key>
	<integer>5</integer>
	<key>longBreakDurationMinutes</key>
	<integer>25</integer>
	<key>shortBreakInterval</key>
	<integer>1</integer>
	<key>longBreakInterval</key>
	<integer>4</integer>
	<key>dailyGoal</key>
	<integer>2</integer>
	<key>taskCompletedSound</key>
	<integer>0</integer>
	<key>shortBreakCompletedSound</key>
	<integer>0</integer>
	<key>longBreakCompletedSound</key>
	<integer>0</integer>
	<key>isVibrateOn</key>
	<false/>
</dict>
</plist>
